extends layout

block content
    form(method="POST" action="http://http://localhost:4000/orders/create/")
    fieldset
        legend General
        p
        label(for="username") Username:
            input(type="text", name="username" value="")
        p
        label(for="quantity") Quantity:
            input(type="number", name="quantity" value="" min=0)
            .tip.
            Enter The Price of a crate is  
            <em>₦2,000</em>.
    p.buttons
        input(type="submit", value="Confirm")