extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  hr
  ul 
    li 
      a(href="http://localhost:4000/orders/create") Create Order
    li 
      a(href="http://localhost:4000/orders/") View Orders 
    li 
      a(href="http://localhost:4000/") Delete Order 
    li 
      a(href="http://localhost:4000/") Clear Orders 
  ul

